body{
    font family: verdana, velvetics, sans-serif;
    background-color:purple;
}

<div class="box">
 .box{
      width: 20px;
      height: 20px ;
      backgroun: linear-gradient(red, purple);
      }
 </div>

h1,h2 {
  color:white;
  font-size:122%;
  text-transform:uppercase;
  margin: 5px 10px 5px 10px
}
P {
  line height:6cm;
}
